<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Graphes de la structure des théorèmes mathématiques</title>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Graphes structurels de théorèmes mathématiques</a>
    </nav>
    <main role="main" class="container-fluid d-flex flex-column">
      <div class="row flex-grow-1 md-max-height">
        <div class="col bg-light">
          <div class="row">
            <div class="col">
              <form id="form-graph" action="{{ url_for('graph') }}">
                <div class="form-group">
                  <label for="root">Racine</label>
                  <select class="form-control" name="root">
                    <option value="">Tous</option>
                    {% for node in nodes %}
                    <option value="{{ node }}">{{ node }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="types">Afficher…</label>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="D" name="types" id="form-types-D">
                      <label class="form-check-label" for="form-types-D">les définitions</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="M" checked="checked" name="types" id="form-types-M">
                      <label class="form-check-label" for="form-types-M">les axiomes</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="T" checked="checked" name="types" id="form-types-T">
                      <label class="form-check-label" for="form-types-T">les théorèmes</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="2D" checked="checked" name="categories" id="form-categories-2D">
                      <label class="form-check-label" for="form-categories-2D">les théorèmes du plan</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="3D" checked="checked" name="categories" id="form-categories-3D">
                      <label class="form-check-label" for="form-categories-3D">les théorèmes de l'espace</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="depth">Profondeur du graphe : <span id="depth-value"></span></label>
                  <input type="range" id="depth" name="depth" class="form-control-range" min="0" max="{{ depth_max }}" value="0">
                </div>
                <button type="submit" class="btn btn-primary">Afficher</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-12 d-flex flex-column md-max-height height-viewport">
          <div class="row flex-grow-1 md-max-height">
            <div class="col d-flex flex-column md-max-height">
              <object id="graph" class="" data="" type='image/svg+xml' style="flex-grow: 1; max-width: 100%; max-height: 100%">Chargement du graphe…</object>
            </div>
          </div>
          <div class="row fit-content-height">
            <div class="col">
              <img id="theme-img" alt="">
            </div>
          </div>
        </div>
      </div>
    </main>

      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.0/dist/svg-pan-zoom.min.js"></script>

      <script>window.images_url = "{{ url_for('static', filename='images/') }}";</script>
      <script src="{{ url_for('static', filename='application.js') }}"></script>
  </body>

</html>
